@import url("https://use.typekit.net/msl8jct.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
}
.navbar:hover {
  color: #ADFF00;
}
.navbar .pill-links {
  border: 2px solid transparent;
  border-radius: 48px;
}
.navbar .pill-links .links-navbar {
  font-family: "area-normal", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  color: white;
  margin: 0px 15px 0px 15px;
  padding: 0px 10px 5px 10px;
}
.navbar .pill-links .links-navbar:hover {
  color: #ADFF00;
}
.navbar .pill-links:hover {
  border: 2px solid #ADFF00;
  border-radius: 48px;
}

.body-home {
  background-image: url(../assets/desktop-home.jpg);
  background-position: cover;
  margin: 0px 120px 0px 120px;
}

.section-principal {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat 3, 128px;
  column-gap: 24px;
  row-gap: 0px;
  margin-top: 235px;
}
.section-principal .h1-home-nombre {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 95px;
  color: white;
}
.section-principal .h1-home-alvarez {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 95px;
  color: white;
}
.section-principal .h1-home-molina {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 95px;
  color: white;
  padding-left: 60px;
}
.section-principal .h2-home {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 3;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 59px;
  color: #ADFF00;
}
.section-principal .p-instagram {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
  font-family: "area-normal", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 25px;
  color: white;
  border: 2px solid white;
  border-radius: 48px;
  height: 70px;
  align-self: center;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 0px;
}
.section-principal .p-instagram:hover {
  background-color: rgba(32, 32, 32, 0.1058823529);
}
.section-principal .p-ubicacion {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 1;
  font-family: "area-normal", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 25px;
  color: white;
  border: 2px solid white;
  border-radius: 48px;
  height: 75px;
  align-self: center;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 0px;
}
.section-principal .p-ubicacion:hover {
  background-color: rgba(32, 32, 32, 0.1058823529);
}
.section-principal .p-ubicacion span {
  color: #ADFF00;
}

body {
  background-color: #202020;
  font-family: "area-normal", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color: white;
  margin: 0px 120px 0px 120px;
}

.section-aboutme {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 170px);
  column-gap: 24px;
  row-gap: 0px;
  margin-top: 120px;
}
.section-aboutme .h1-aboutme {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 130px;
  color: white;
}
.section-aboutme .h1-with {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 130px;
  color: white;
  padding-right: 100px;
}
.section-aboutme .h1-global {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 2;
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 130px;
  color: white;
}
.section-aboutme .global {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 130px;
  color: #ADFF00;
}
.section-aboutme .h1-focus {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 130px;
  color: white;
}
.section-aboutme .p-portada {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;
  font-family: "area-normal", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  color: white;
  align-self: center;
  padding-top: 10px;
}
.section-aboutme .container-pill {
  border: 2px solid white;
  border-radius: 48px;
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 3;
  height: 56px;
  align-self: center;
}

@media (max-width: 1024px) {
  .section-principal {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat 3, 115px;
    column-gap: 24px;
    row-gap: 0px;
    margin-top: 150px;
  }
  .section-principal .h1-home-nombre {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 82px;
    color: white;
  }
  .section-principal .h1-home-alvarez {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 82px;
    color: white;
  }
  .section-principal .h1-home-molina {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 82px;
    color: white;
    padding-left: 0px;
  }
  .section-principal .h2-home {
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 3;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 54px;
    color: #ADFF00;
  }
  .section-principal .p-instagram {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
    color: white;
    height: 60px;
    padding-top: 10px;
  }
  .section-principal .p-ubicacion {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
    color: white;
    height: 60px;
    padding-top: 10px;
  }
}
@media (max-width: 768px) {
  .body-home {
    margin: 0px 80px 0px 80px;
  }
  .section-principal {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 125px 125px 125px 90px 80px;
    column-gap: 24px;
    row-gap: 0px;
    margin-top: 150px;
  }
  .section-principal .h1-home-nombre {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 115px;
    color: white;
  }
  .section-principal .h1-home-alvarez {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 115px;
    color: white;
  }
  .section-principal .h1-home-molina {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 3;
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 115px;
    color: white;
  }
  .section-principal .h2-home {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 4;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: #ADFF00;
    margin: 15px 0px 0px 0px;
  }
  .section-principal .p-instagram {
    display: none;
  }
  .section-principal .p-ubicacion {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 5;
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    color: white;
    width: 300px;
    height: 60px;
  }
}
@media (max-width: 425px) {
  .navbar {
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: white;
  }
  .body-home {
    margin: 0px 24px 0px 24px;
  }
  .section-principal {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 90px 90px 90px 55px 80px;
    column-gap: 24px;
    row-gap: 0px;
    margin-top: 80px;
  }
  .section-principal .h1-home-nombre {
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 70px;
    color: white;
  }
  .section-principal .h1-home-alvarez {
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 70px;
    color: white;
  }
  .section-principal .h1-home-molina {
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 70px;
    color: white;
  }
  .section-principal .h2-home {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: #ADFF00;
    margin: 5px 0px 0px 0px;
  }
  .section-principal .p-ubicacion {
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    color: white;
    width: 220px;
    height: 45px;
    padding-top: 5px;
  }
}
@media (max-width: 390px) {
  .section-principal {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 80px 80px 45px 80px;
    column-gap: 24px;
    row-gap: 0px;
  }
  .section-principal .h1-home-nombre {
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color: white;
  }
  .section-principal .h1-home-alvarez {
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color: white;
  }
  .section-principal .h1-home-molina {
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color: white;
  }
  .section-principal .h2-home {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #ADFF00;
  }
  .section-principal .p-ubicacion {
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    color: white;
    width: 200px;
  }
}
@media (max-width: 320px) {
  .section-principal {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 65px 65px 65px 45px 50px;
    column-gap: 24px;
    row-gap: 0px;
    margin-top: 0px;
  }
  .section-principal .h1-home-nombre {
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    color: white;
  }
  .section-principal .h1-home-alvarez {
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    color: white;
  }
  .section-principal .h1-home-molina {
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    color: white;
  }
  .section-principal .h2-home {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #ADFF00;
  }
  .section-principal .p-ubicacion {
    height: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
