/* @import url("https://use.typekit.net/msl8jct.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


/* navegacion */
/* .navbar{
    color: white;
    font-size: 20px;
}

.links-navbar{
    color: white;
    font-weight: 100;
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 5px 20px;
}

.links-navbar:hover{
    color: #ADFF00;
} */

/* index original*/
/* .body-home{
    background-image: url(../assets/desktop-home.jpg);
    background-position: cover;
    margin: 0px 120px 0px 120px
} */
/* 
.section-principal{
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: 128px 128px 128px;
    column-gap: 24px;
    margin-top: 235px;
    font-weight: 100;  
}

.h1-home-nombre{
    grid-row: 1/1;
    grid-column: 1/5;
    font-weight: 600;
    font-size: 105px;
    line-height: 120px;"area-normal", sans-serif;
    font-family: 
    font-style: normal;
    font-weight: 600;
}

.h1-home-alvarez{
    grid-row: 2/2;
    grid-column: 1/5;
    font-weight: 600;
    font-size: 105px;
    line-height: 120px;
    font-family: "area-normal", sans-serif;
    font-style: normal;
}

.h1-home-molina{
    grid-row: 2/2;
    grid-column: 6/8;
    margin-left: 20px;
    font-weight: 600;
    font-size: 105px;
    line-height: 120px;
    font-family: "area-normal", sans-serif;
    font-style: normal;
}

.h2-home{
    grid-row: 3/3;
    grid-column: 5/12;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 200;
    font-size: 70px;
    color: #ADFF00;
    margin-left: 20px;
    align-self: center;
}

.p-instagram{
    grid-row: 3/3;
    grid-column: 1/5;
    height: 75px;
    align-self: center;
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
    border: 2px solid white;
    border-radius: 48px;
}

.p-instagram:hover{
    background-color: #2020201b;
}

.p-ubicacion{
    grid-row: 1/1;
    grid-column: 6/12;
    margin-left: 80px;
    height: 75px;
    width: 370px;
    align-self: center;
    font-size: 25px;
    padding-top: 15px;
    text-align: center;
    border: 2px solid white;
    border-radius: 48px;
}

.p-ubicacion:hover{
    background-color: #2020201b;
}

span{
    color: #ADFF00;
} */

/* about me original*/
/* body{
    background-color: #202020;
    margin-left: 120px;
    margin-right: 120px;
    font-family: "area-normal", sans-serif;
    font-style: normal;
    color: white;
}

.section-aboutme{
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    column-gap: 24px;
    grid-template-rows: 200px 200px 200px;
    margin-top: 120px;
}

.h1-aboutme{
    grid-column: 1 /13;
    grid-row: 1 / 1;
    font-size: 130px;
    font-weight: 600;
}

.h1-with{
    grid-column: 9/13;
    grid-row: 1 / 1;
    font-size: 130px;
    font-weight: 600;
}

.h1-global{
    grid-column: 1 /9;
    grid-row: 2 / 2;
    font-size: 130px;
    font-weight: 600;
}

.global{
    color: #ADFF00;
    font-size: 130px;
    font-weight: 600;
    grid-column: 2/8;
    grid-row: 2 / 2;
    margin-left: 20px;
}

.h1-focus{
    grid-column: 1 /5;
    grid-row: 3 / 3;
    font-size: 130px;
    font-weight: 600;
}

.p-portada{
    padding-left: 40px;
    font-size: 20px;
    grid-column: 8 / 13;
    grid-row: 2 / 2;
    align-self: center;
}

.container-pill{
    margin-left: 10px;
    border: 2px solid #ffffff ;
    border-radius: 48px;
    height: 56px;
    grid-column: 6 /13;
    grid-row: 3 / 3;
    align-self: center;
} */

.titulo-aboutme{
    width: 410px;
    font-size: 120px;
    color: #2C2C2C;
    line-height: 120px;
    font-weight: 800; 
}

.introduccion{
    display: flex;
    flex-flow: row wrap;
    column-gap: 200px;
    margin-top: 200px;
    font-size: 20px;
}

.contenedor-hello{
    width: 586px;
}

.hello-aboutme{
    margin-top: 40px;
    color: #ADFF00;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 48px;
    font-weight: 200;
}

.technical-skills{
    color: #6E6E6E;
    margin-top: 120px;
    font-size: 20px;
    font-weight: 400;
    
}

.tech-skills-titulo{
    margin-top: 100px;
    margin-bottom: 32px ;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 43px;
    font-weight: 200;
}

.pastillas-skills{
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.aptitud{
    padding: 15px 30px;
    border: 1px solid #6E6E6E ;
    border-radius: 48px;
    list-style: none;
}

footer{
    margin: 60px 0px;
    color: #2C2C2C;
    font-family:'Space Grotesk', sans-serif ;
    font-size: 20px;
    
}

/*works original*/
h3{
    margin-top: 48px;
    color: white;
    font-family:'Space Grotesk', sans-serif ;
    font-size: 64px;
    font-weight: 200;
}

.works-bajada{
    color: #6E6E6E;
    font-size: 20px;
}

.works{
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.works-card{ 
    width: 379px;
    border: 24px;
    height: 368px;
    display: flex;
    flex-direction: column;
}


.imagen-card{
    border-radius: 40px;
    width: 382px;
    height: 266px;
}

.descripcion-proyectos{
    color: #6E6E6E;
    line-height: 18px;
    font-size: 16px;
}

.titulo-proyecto{
    font-size: 20px;
    margin-top: 8px;
    font-weight: 200;
}

/*services original*/
.areas-diseno{
    list-style: none; 
    color: #ADFF00;
    padding-left: 0px;
}

.areas{
    border: 1px solid white;
    border-radius: 48px;
    padding: 10px 40px;
    margin-top: 24px;
}

.areas:hover{
    background-color: #ffffff27;
}

.services{
    font-family:'Space Grotesk', sans-serif ;
    font-size: 48px;
}

/* contact original*/

.portada-contacto{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    column-gap: 24px;
    grid-template-rows: 200px 200px 200px;
}

.titulo-contact{
    font-size: 160px;
    line-height: 220px;
    grid-column: 1/13;
    
}

.pill-contacto{
    margin-left: 40px;
    border: 2px solid #ffffff ;
    border-radius: 48px;
    height: 56px;
    grid-column: 7 / 13;
    align-self: center;
    margin-top: 90px;
}

.titulo-contact-color{
    color: #ADFF00;
}

.contacto{
    margin-top: 24px;
    display:flex ;
    flex-flow: row wrap;
}

.formulario
{
    width: 590px;
    font-size: 24px;
    color: #6E6E6E;
    
}
.info-contacto{
    margin-top: 200px;
}

.formulario-contacto{
    font-family: "area-normal", sans-serif;
    font-style: normal;
    
}

.primera-linea{
    display: flex;
    flex-flow: row wrap;
}
.nombre{
    width: 271px;
}

.mail{
    margin-left: 22px;
    width: 294px;
}
.sujeto{
    width: 588px;

}

.message{
    width: 588px;
    height: 158px;
    grid-area: mensaje;
    
}

input{
    color: #6E6E6E;
    padding-left: 15px;
    font-family: "area-normal", sans-serif;
    font-style: normal;
    font-size: 24px;
    background: none;
    border: 1px solid white;
    border-radius: 48px;
    margin-bottom: 16px;
    padding:16px;
}

.button{
    background: none;
    font-size: 24px;
    color: #6E6E6E;
    border: 1px solid white;
    border-radius: 48px;
    padding:16px;
    margin-left: 495px;
}

.contacto-redes{
    font-size: 24px;
    display: flex;
    flex-flow: column;
    margin-left: 112px;

}

.redes{
    width: 32px;
    height: 32px;
}

.redes-ubicacion{
    display: flex;
    flex-flow: row;
    column-gap: 16px;
}

/*responsive*/
/*Laptop s*/
@media (max-width: 1024px){
    /*index Laptop s*/
    .body-home{
        background-position: cover;
    }
    .section-principal{
        margin-top: 150px;
        grid-template-columns: repeat(12, 1fr) ;
        grid-template-rows: 115px 115px 115px; 
    }
    .h1-home-nombre{
        grid-row: 1/1;
        grid-column: 1/8;
        font-size: 82px;
    }
    .h1-home-alvarez{
        grid-row: 2/2;
        grid-column: 1/6;
        font-size: 82px;
    }
    .h1-home-molina{
        grid-row: 2/2;
        grid-column: 7/12;
        margin-left: 15px;
        font-size: 82px;
    }
    .h2-home{
        grid-row: 3/3;
        grid-column: 6/13;
        font-size: 54px;
        margin-left: 0px;
        
    }
    .p-instagram{
        grid-row: 3/3;
        grid-column: 1/6;
        height: 60px;
        font-size: 22px;
        padding-top: 5px;;
        
    }
    .p-ubicacion{
        grid-row: 1/1;
        grid-column: 7/13;
        width: 330px;
        font-size: 20px;
        padding-top: 10px;
        margin: 20px 0px 0px 50px;
        height: 65px;
    }

/* about me laptop s*/
    body{
        margin: 0px 100px 0px 100px;
    }
    .section-aboutme{
        grid-template-rows: 150px 150px 150px;
        margin-top: 90px;
    }
    .h1-aboutme{
        font-size: 89px;
    }
    .h1-with{
        font-size: 89px;  
    }
    .h1-global{
        font-size: 89px;
    }
    .global{
        font-size: 89px;
    }
    .h1-focus{
        font-size: 89px;    
    }
    .p-portada{
        padding-top: 40px;
        padding-left: 15px;
        font-size: 14px;
    }
    .container-pill{
        margin-top: 40px;
        height: 50px;
    }
    .introduccion{
        column-gap: 100px;
        margin-top: 130px;
        font-size: 15px;
    }
    .titulo-aboutme{
        width: 320px;
        font-size: 89px;
        
    }
    .contenedor-hello{
        width: 400px;
    }
    .technical-skills{
        margin-top: 100px;
        font-size: 20px;
        font-weight: 400;
        
    }
    .tech-skills-titulo{
        font-size: 35px;
        font-weight: 200;
    }
    .pastillas-skills{
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }
    .aptitud{
        padding: 10px 20px;
        font-size: 16px;
    }
    footer{
        font-size: 18px;
    }

/*works laptop s*/
    .works{
        column-gap: 48px;
    }
    .works-card{ 
        width: 388px;
    }
}

c

/* about me tablet*/
    header{
        margin: 0px;
    }
    body{
        margin: 0px 68px 0px 68px; 
    }
    .section-aboutme{
        grid-template-rows: 150px 150px 150px 150px;
        margin-top: 120px;
    }
    .h1-aboutme{
        font-size: 105px;
        grid-column: 1/13;
    }
    .h1-with{
        font-size: 105px;
        grid-column: 1/7;
        grid-row: 2/2;
    }
    .h1-global{
        font-size: 105px;
        grid-column: 1/9;
        grid-row: 3/3;
    }
    .global{
        font-size: 105px;
        margin-left: 0px;
        grid-column: 3/9;
        grid-row: 3/3;
    }
    .h1-focus{
        font-size: 105px; 
        grid-column: 1/13;
        grid-row: 4/4;
    }
    .p-portada{
        margin-left: 50px;
        grid-column: 6/13; 
    }
    .container-pill{
        margin: 10px 0px 0px 40px;
        height: 45px;
        grid-column: 8/13;
        grid-row: 4/4;
    }
    .introduccion{
        column-gap: 30px;
        margin-top: 220px;
        font-size: 14px;
    }
    .titulo-aboutme{
        width: 250px;
        font-size: 75px;
        line-height: 80px;   
    }
    .contenedor-hello{
        width: 350px;
    }
    .hello-aboutme{
        margin-top: 20px;
        font-size: 32px;
    }
    .technical-skills{
        font-size: 18px;
    }
    .tech-skills-titulo{
        font-size: 35px;
        margin-bottom: 20px;
    }
    .aptitud{
        padding: 5px 10px;
        font-size: 14px;
    }
    footer{
        font-size: 14px;
    }

/*works tablet*/
    h3{
    font-size: 55px;
    }
    .works-bajada{
        font-size: 18px;
    }
    .works{
        column-gap: 24px;
        row-gap: 48px;
    }
    .works-card{ 
        width: 304px;
        border: 24px;
        height: 320px;
    }
    .imagen-card{
        width: 304px;
        height: 230px;
    }
    .descripcion-proyectos{
        font-size: 14px;
    }
    .titulo-proyecto{
        font-size: 20px;
        margin-top: 10px;
    }

/*services tablet*/
.areas{
    margin-top: 20px;
}
.services{
    font-size: 40px;
}


/*mobile 425*/
@media (max-width:425px){
    /*index moblie 425*
    .navbar{
        font-size: 18px;
    }
    .body-home{
        margin:0px 24px 0px 24px}
        
    .section-principal{
        margin-top: 80px;
        grid-template-rows: 90px 90px 110px 55px 80px; 
    }
    .h1-home-nombre{
        font-size:70px;
    }
    .h1-home-alvarez{
        font-size: 70px;
    }
    .h1-home-molina{
        margin-left: 5px;
        font-size: 70px;
    }
    .h2-home{
        font-size: 32px;
        margin: 5px 0px 0px 0px;
    }
    .p-ubicacion{
        width: 220px;
        font-size: 16px;
        padding-top: 5px;
        margin: 0px 0px 0px 0px;
        height: 45px;
    }*/

    /* about me mobile 425*/
    body{
        margin: 0px 24px 0px 24px;
    }
    .section-aboutme{
        grid-template-rows: 80px 80px 80px 80px;
        margin-top: 80px;
    }
    .h1-aboutme{
        font-size: 62px;
    }
    .h1-with{
        font-size: 62px;
    }
    .h1-global{
        font-size: 62px;
    }
    .global{
        font-size: 62px;
    }
    .h1-focus{
        font-size: 62px;
    }
    .p-portada{
        display: none;
    }
    .container-pill{
        margin: 0px 0px 0px 20px;
        height: 35px;
    }
    .introduccion{
        margin-top: 320px;
        font-size: 14px;
    }
    .titulo-aboutme{
        width: 100%;
        font-size: 65px;
    }
    .contenedor-hello{
        margin-top: 30px;
    }

    /*works mobile 425*/
    h3{
        font-size: 45px;
    }
    .works-bajada{
        font-size: 18px;
    }
    .works{
        row-gap: 24px;
    }
    .works-card{ 
        width: 100%;
        border: 24px;
        height: 320px;
    }
    .imagen-card{
        width:100%;
        height: 210px;
    }

    /*services mobile 425*/
    .areas{
        padding: 10px 40px;
        margin-top: 18px;
    }
    .services{
        font-size: 32px;
    }
    }

/*mobile 390 (mi celular)*/
@media (max-width:390px){
    /*index mobile 390*    
    .section-principal{
        grid-template-rows: 80px 80px 110px 45px 80px; 
    }
    .h1-home-nombre{
        font-size: 60px;
    }
    .h1-home-alvarez{
        font-size: 60px;
    }
    .h1-home-molina{
        margin-left: 0px;
        font-size: 60px;
    }
    .h2-home{
        font-size: 28px;
    }
    .p-ubicacion{
        width: 200px;
        font-size: 15px;
    }*/

    /* about me mobile 390*/
    .h1-aboutme{
        font-size: 56px;
    }
    .h1-with{
        font-size: 56px;
    }
    .h1-global{
        font-size: 56px;
    }
    .global{
        font-size: 56px;
    }
    .h1-focus{
        font-size: 56px;
    }
    .titulo-aboutme{
        font-size: 56px;
    }
    .contenedor-hello{
        margin-top: 20px;
    }
    .technical-skills{
        margin-top: 0px;
    }
    .tech-skills-titulo{
        font-size: 28px;
    }
}

/*mobile 320*/
@media (max-width:320px){
    /*index mobile 320* 
    .section-principal{
        margin-top: 0px;
        grid-template-rows: 65px 65px 100px 45px 75px; 
    }
    .h1-home-nombre{
        font-size: 50px;
    }
    .h1-home-alvarez{
        font-size: 50px;
    }
    .h1-home-molina{
        font-size: 50px;
    }
    .h2-home{
        font-size: 25px;
    }
    .p-ubicacion{
        height: 40px;
    }*/

    /* about me mobile 320*/
    .h1-aboutme{
        font-size: 45px;
    }
    .h1-with{
        font-size:45px;
    }
    .h1-global{
        font-size: 45px;
    }
    .global{
        font-size: 45px;
    }
    .h1-focus{
        font-size: 45px;
    }
    .container-pill{
        align-self: flex-start;
        margin: 15px 0px 0px 10px;   
    }
    .titulo-aboutme{
        font-size: 45px;
    }
    .contenedor-hello{
        margin-top: 20px;
    }

/*works mobile 320*/
    h3{
        font-size: 36px;
    }   

/*services mobile 320*/
.areas{
    margin-top: 12px;
}
.services{
    font-size: 23px;
}
}