@import url("https://use.typekit.net/msl8jct.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index*/

header{
    margin-top: 48px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;

}

.homepage{
    margin-top: 48px ;
    width: 100%;
    color: white;
    display: flex;
    justify-content: end;
}
.logo{
    color: white;
    text-decoration: none;
}

.navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content:end;
    
}

.navbar li a{
    text-decoration: none ;
    color: white;
    font-family: "area-normal", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;

}

.body-home{
    background-image: url(../assets/desktop-home.jpg);
    background-position: cover;
    margin: 0px 120px 0px 120px
}

.section-principal{
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: 128px 128px 128px;
    column-gap: 24px;
    margin-top: 235px;
    font-weight: 100;  
}

.h1-home-nombre{
    grid-row: 1/1;
    grid-column: 1/5;
    font-weight: 600;
    font-size: 105px;
    line-height: 120px;
    font-family: "area-normal", sans-serif;
    font-style: normal;
    font-weight: 600;

}

.h1-home-alvarez{
    grid-row: 2/2;
    grid-column: 1/5;
    font-weight: 600;
    font-size: 105px;
    line-height: 120px;
    font-family: "area-normal", sans-serif;
    font-style: normal;
}
.h1-home-molina{
    grid-row: 2/2;
    grid-column: 6/8;
    margin-left: 20px;
    font-weight: 600;
    font-size: 105px;
    line-height: 120px;
    font-family: "area-normal", sans-serif;
    font-style: normal;
}

.h2-home{
    grid-row: 3/3;
    grid-column: 5/12;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 200;
    font-size: 70px;
    color: #ADFF00;
    margin-left: 20px;
    align-self: center;
}

.p-instagram{
    grid-row: 3/3;
    grid-column: 1/5;
    height: 75px;
    align-self: center;
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
    border: 2px solid white;
    border-radius: 48px;
}

.p-ubicacion{
    grid-row: 1/1;
    grid-column: 6/12;
    margin-left: 80px;
    height: 75px;
    width: 370px;
    align-self: center;
    font-size: 25px;
    padding-top: 15px;
    text-align: center;
    border: 2px solid white;
    border-radius: 48px;
}

span{
    color: #ADFF00;

}

/* about me*/

body{
    background-color: #202020;
    margin-left: 120px;
    margin-right: 120px;
    font-family: "area-normal", sans-serif;
    font-style: normal;
    color: white;
}

.section-aboutme{
    display: grid;
    grid-template-columns: 488px 202px 511px;
    grid-template-rows: 200px 200px 200px;
    margin-top: 45px;
}

.h1-aboutme{
    grid-column: 1 /4;
    grid-row: 1 / 1;
    font-size: 130px;
    font-weight: 600;
    line-height: 190px;
}
.h1-global{
    grid-column: 1 /4;
    grid-row: 2 / 2;
    font-size: 130px;
    font-weight: 600;
    line-height: 190px;
}
.h1-focus{
    grid-column: 1 /3;
    grid-row: 3 / 3;
    font-size: 130px;
    font-weight: 600;
    line-height: 190px;
    
}

.global{
    color: #ADFF00;
}

.p-portada{
    padding-left: 40px;
    font-size: 20px;
    grid-column: 3 / 4;
    grid-row: 2 / 2;
    align-self: center;
}

.container{
    margin-left: 40px;
    border: 2px solid #ffffff ;
    border-radius: 48px;
    height: 56px;
    grid-column: 2 / 4;
    grid-row: 3 / 3;
    align-self: center;
}


.div-aboutme{
    margin-top: 200px;
}

.titulo-aboutme{
    width: 410px;
    font-size: 120px;
    color: #2C2C2C;
    line-height: 120px;
    font-weight: 800;
    
}

.introduccion{
    display: flex;
    flex-flow: row;
    column-gap: 224px;
    margin-top: 200px;
    font-size: 20px;
}
.contenedor-hello{
    width: 586px;
}
.hello-aboutme{
    margin-top: 40px;
    color: #ADFF00;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 48px;
    font-weight: 200;
}

.technical-skills{
    color: #6E6E6E;
    margin-top: 120px;
    font-size: 20px;
    font-weight: 400;
    
}

.tech-skills-titulo{
    margin-top: 100px;
    margin-bottom: 32px ;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 43px;
    font-weight: 200;
}

.pastillas-skills{
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.aptitud{
    padding: 15px 30px;
    border: 1px solid #6E6E6E ;
    border-radius: 48px;
    list-style: none;
}

footer{
    margin: 60px 0px;
    color: #2C2C2C;
    font-family:'Space Grotesk', sans-serif ;
    font-size: 20px;
    
}

/*works*/
/*cambie el h3 antes era h2*/
h3{
    margin-top: 48px;
    color: white;
    font-family:'Space Grotesk', sans-serif ;
    font-size: 64px;
    font-weight: 200;
}

.works-bajada{
    color: #6E6E6E;
    font-size: 20px;
}
.works{
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.card{ 
    width: 379px;
    border: 24px;
    height: 368px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}



.imagen-card{
    border-radius: 40px;
    width: 382px;
    height: 266px;
}

.descripcion-proyectos{
    color: #6E6E6E;
    line-height: 18px;
    font-size: 16px;
}

.titulo-proyecto{
    font-size: 20px;
    margin-top: 8px;
    font-weight: 200;
}
/*services*/

.areas-diseno{
    list-style: none; 
    color: #ADFF00;
}

.areas{
    border: 1px solid white;
    border-radius: 48px;
    padding: 10px 40px;
    margin-top: 24px;
}

.services{
    font-family:'Space Grotesk', sans-serif ;
    font-size: 48px;
}

/* contact*/

.portada-contacto{
    margin-top: 75px;
    display: grid;
    grid-template-columns: 608px auto;
    grid-template-rows: 216px 216px;
}

.titulo-contact{
    font-size: 160px;
    line-height: 220px;
    grid-column: 1/3;
    
}

.pill-contacto{
    margin-left: 40px;
    border: 2px solid #ffffff ;
    border-radius: 48px;
    height: 56px;
    grid-column: 2 / 4;
    align-self: center;
    margin-top: 35px;
}

.titulo-contact-color{
    color: #ADFF00;
}

.contacto{
    margin-top: 24px;
    display:flex ;
    flex-flow: row wrap;
}

.formulario
{
    width: 590px;
    font-size: 24px;
    color: #6E6E6E;
    
}
.info-contacto{
    margin-top: 200px;
}

.formulario-contacto{
    font-family: "area-normal", sans-serif;
    font-style: normal;
    
}

.primera-linea{
    display: flex;
    flex-flow: row wrap;
}
.nombre{
    width: 271px;
}

.mail{
    margin-left: 22px;
    width: 294px;
}
.sujeto{
    width: 588px;

}

.message{
    width: 588px;
    height: 158px;
    grid-area: mensaje;
    
}

input{
    color: #6E6E6E;
    padding-left: 15px;
    font-family: "area-normal", sans-serif;
    font-style: normal;
    font-size: 24px;
    background: none;
    border: 1px solid white;
    border-radius: 48px;
    margin-bottom: 16px;
    padding:16px;
}

.button{
    background: none;
    font-size: 24px;
    color: #6E6E6E;
    border: 1px solid white;
    border-radius: 48px;
    padding:16px;
    margin-left: 495px;
}




.contacto-redes{
    font-size: 24px;
    display: flex;
    flex-flow: column;
    margin-left: 112px;

}

.redes{
    width: 32px;
    height: 32px;
}

.redes-ubicacion{
    display: flex;
    flex-flow: row;
    column-gap: 16px;
}

/*responsive*/
/*Laptop s*/
@media (max-width: 1024px){
    /*index*/
    .body-home{
        background-position: cover;
    }
    .section-principal{
        grid-template-columns: repeat(12, 1fr) ;
        grid-template-rows: 115px 115px 115px; 
    }

    .h1-home-nombre{
        grid-row: 1/1;
        grid-column: 1/8;
        font-size: 82px;
    }
    
    .h1-home-alvarez{
        grid-row: 2/2;
        grid-column: 1/6;
        font-size: 82px;
    }
    .h1-home-molina{
        grid-row: 2/2;
        grid-column: 7/12;
        margin-left: 15px;
        font-size: 82px;
    }
    
    .h2-home{
        grid-row: 3/3;
        grid-column: 6/13;
        font-size: 54px;
        margin-left: 0px;
        
    }
    
    .p-instagram{
        grid-row: 3/3;
        grid-column: 1/6;
        height: 60px;
        font-size: 22px;
        padding-top: 5px;;
        
    }
    
    .p-ubicacion{
        grid-row: 1/1;
        grid-column: 7/13;
        width: 330px;
        font-size: 20px;
        padding-top: 10px;
        margin: 20px 0px 0px 50px;
        height: 65px;
    }
}

/*Tablet*/
@media (max-width:768px){
    /*index*/
    .body-home{
        background-position: cover;
        margin:0px 80px 0px 80px}
        
    .section-principal{
        margin-top: 150px;
        grid-template-columns: repeat(12, 1fr) ;
        grid-template-rows: 125px 125px 125px 90px 80px; 
    }

    .h1-home-nombre{
        grid-row: 1/1;
        grid-column: 1/12;
        font-size:115px;
    }
    
    .h1-home-alvarez{
        grid-row: 2/2;
        grid-column: 1/12;
        font-size: 115px;
    }
    .h1-home-molina{
        grid-row: 3/3;
        grid-column: 1/12;
        margin-left: 5px;
        font-size: 115px;
    }
    
    .h2-home{
        grid-row: 4/4;
        grid-column: 1/13;
        font-size: 45px;
        margin: 5px 0px 0px 0px;
        align-self: normal;
        
    }
    
    .p-instagram{
        display: none;
        grid-row: 3/3;
        grid-column: 1/6;
        height: 60px;
        font-size: 22px;
        padding-top: 5px;;
        
    }
    
    .p-ubicacion{
        grid-row: 5/5;
        grid-column: 1/13;
        width: 300px;
        font-size: 20px;
        padding-top: 10px;
        margin: 0px 0px 0px 0px;
        height: 65px;
    }

}

/*mobile 1*/
@media (max-width:425px){
    /*index*/
    .body-home{
        background-position: cover;
        margin:0px 24px 0px 24px}
        
    .section-principal{
        margin-top: 200px;
        grid-template-columns: repeat(12, 1fr) ;
        grid-template-rows: 90px 90px 110px 55px 80px; 
    }

    .h1-home-nombre{
        grid-row: 1/1;
        grid-column: 1/12;
        font-size:70px;
    }
    
    .h1-home-alvarez{
        grid-row: 2/2;
        grid-column: 1/12;
        font-size: 70px;
    }
    .h1-home-molina{
        grid-row: 3/3;
        grid-column: 1/12;
        margin-left: 5px;
        font-size: 70px;
    }
    
    .h2-home{
        grid-row: 4/4;
        grid-column: 1/13;
        font-size: 32px;
        margin: 5px 0px 0px 0px;
        align-self: normal;
        
    }
    
    .p-ubicacion{
        grid-row: 5/5;
        grid-column: 1/13;
        width: 220px;
        font-size: 16px;
        padding-top: 5px;
        margin: 0px 0px 0px 0px;
        height: 45px;
    }

}