// variables
$background-principal:#202020;
$backgroung-home: url(../assets/desktop-home.jpg); 
$body-color: white;
$color-green: #ADFF00 ;
$dark-gray: #2C2C2C;
$light-gray: #6e6e6e;
$font-area: "area-normal", sans-serif;
$font-space: 'Space Grotesk', sans-serif;  
$pill-hover:  #2020201b;