.titulos-works{
   h3{
    margin-top: 48px;
    @include text ($font-space, 200, normal,64px,$body-color);
   } 
   .works-bajada{
    @include text ($font-area, none, normal,20px,$light-gray);
}
}

.works{
    margin-top: 48px;
    @include flex(flex, row wrap);
    column-gap: 24px;
    row-gap: 48px;
    .works-card{
        @include dimensions (379px,368px);
        @include flex(flex, column);
        border: 24px;
        .imagen-card{
            border-radius: 40px;
            @include dimensions(382px,266px)
        }
        .descripcion-proyectos{
            @include text ($font-area,400,normal,16px,$light-gray);
        }
        .titulo-proyecto{
            margin-top: 8px;
            @include text ($font-area,200,normal,20px,$body-color);
        }
    }
}


