//index
@media (max-width:768px){
    .body-home{
        margin: 0px 80px 0px 80px;
    }
    .section-principal{
        @include grid (grid,repeat(12, 1fr), 125px 125px 125px 90px 80px, 24px, 0px);
        margin-top: 150px;
        .h1-home-nombre{
            @include gridposition (1, 12, 1,1);
            @include text ($font-area, 600, normal, 115px, $body-color);
        }
        .h1-home-alvarez{
            @include gridposition (1, 12, 2,2);
            @include text ($font-area, 600, normal, 115px, $body-color);
        }
        .h1-home-molina{
            @include gridposition (1, 12, 3,3);
            @include text ($font-area, 600, normal, 115px, $body-color);
        }
        .h2-home{
            @include gridposition (1, 12, 4,4);
            @include text ($font-space, 400, normal, 45px, $color-green);
            margin: 15px 0px 0px 0px;
        }
        .p-instagram{
            display: none;
        }
        .p-ubicacion{
            @include gridposition (1, 12, 5,5);
            @include text ($font-area, 100, normal, 20px, $body-color);
            width: 300px;
            height:60px;
        }

    }

    //about me
    body{
        margin: 0px 68px 0px 68px;
    }
    
    .section-aboutme{
        @include grid (grid, repeat(12,1fr), repeat(4,150px),24px,0px);

        margin-top:120px;
        .h1-aboutme{
            @include text ($font-area, 600, normal, 105px, $body-color);
        }
        .h1-with{
            @include gridposition (1,7,2,2);
            @include text ($font-area, 600, normal, 105px, $body-color);
        }
        .h1-global{
            @include gridposition (1,9,3,3);
            @include text ($font-area, 600, normal, 105px, $body-color);
        }
        .global{
            @include gridposition (3,9,3,3);
            @include text ($font-area, 600, normal, 105px, $color-green);
        }
        .h1-focus{
            @include gridposition (1,13,4,4);
            @include text ($font-area, 600, normal, 105px, $body-color);
        }
        .p-portada{
            @include gridposition (6,13,2,2);
            margin-left: 50px;
            @include text ($font-area, 200, normal, 14px, $body-color);
        }
        .container-pill{
            @include border (2px, solid, $body-color, 48px);
            @include gridposition (8,13,4,4);
            height: 45px;
            margin: 10px 0px 0px 40px;
        }
    }
    
    .introduccion{
        margin-top: 220px;
        column-gap: 30px;
        @include text ($font-area, none,normal,14px,none);
        .titulo-aboutme{
            @include text ($font-area, 800,normal,75px,$dark-gray);
            width: 250px;
        }
        .contenedor-hello{
            width: 335px;
        }
        .hello-aboutme{
            @include text ($font-space, 200,normal,32px,$color-green);
            margin-top: 35px;
        }
    }
    
    .technical-skills{
        margin-top: 120px;
        .tech-skills-titulo{
            @include text ($font-space, 200,normal,35px,$light-gray); 
        }
        .aptitud{
            @include text ($font-space, 400,normal,14px,$light-gray);
            padding: 5px 10px;
        }
    }


//works
.titulos-works{
    h3{
        @include text ($font-space, 200, normal,55px,$body-color);
    } 
    .works-bajada{
        @include text ($font-area, none, normal,18px,$light-gray);
}
}

.works{
    column-gap: 24px;
    .works-card{
        @include dimensions (304px,320px);
        .imagen-card{
            @include dimensions(304px,210px);
        }
        .descripcion-proyectos{
            @include text ($font-area,400,normal,14px,$light-gray);
        }
        .titulo-proyecto{
            margin-top: 10px;
            @include text ($font-area,200,normal,18px,$body-color);
        }
    }
}

//services
.services{
    h3{
        margin-top: 48px;
        @include text ($font-space, 200, normal,48px,$body-color);
    } 
    .areas-diseno{
        .areas{
            @include pm (10px 40px, 30px 0px 0px 0px);
        }
    }
}

//contact
.portada-contacto{
    margin-top: 220px;
    .titulo-contact{
        @include text($font-area,600,normal,120px,$body-color);
    }
    .titulo-contact-color{
        @include text($font-area,600,normal,120px,$color-green);
        @include gridposition(1,13,3,3);
    }
    .pill-contacto{
        display: none;
    }
}

.info-contacto{
    column-gap: 24px;
    margin-top: 250px;
    h3{
    @include text ($font-space, 200, normal,55px,$body-color);
    }
    .contacto{
        .formulario{
            width: 100%;
            .formulario-contacto{
                width: 100%;
                .primera-linea{
                    .nombre{
                        width: 304px;
                    }
                    .mail{
                        margin-left: 16px;
                        width: 304px;
                    }
                }
                .sujeto{
                    width: 100%;
                }
                .message{
                    @include dimensions(100%,158px);
                }
                .button{
                    @include text ($font-area, 200, normal,20px,$light-gray);
                    @include pm(16px 30px,0px 0px 0px 520px);
                }
            }
        }
    }
}

.contacto-redes{
    @include text ($font-area, 200, normal,18px,$light-gray);
    @include pm(0px,40px 0px 0px 0px);
    margin-left: 0px;
}
}